* {
  margin: 0;
}

.app__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20;
}

.app__left {
  flex: 0.85;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;

  }
}